- form_for @user do |f| 
	= f.error_messages 

	%p
		= f.label :openid_identifier, "OpenID URL (Optional)"
		%br/
		= f.text_field :openid_identifier
		%br/
		%br/
	%p
		= f.label :username 
		%br/
		= f.text_field :username
	%p
		= f.label :fullname
		%br/
		= f.text_field :fullname
	%p
		= f.label :email 
		%br/
		= f.text_field :email 
	- if @user.openid_identifier.blank?
		%p
			= f.label :password 
			%br/
			= f.password_field :password
		%p
			= f.label :password_confirmation
			%br/
			= f.password_field :password_confirmation	
	%h2 Choose a color for your bookings
	%p
		= f.label :color, "Click to select color"
		%br/
		= f.text_field :color, :class => 'color'
		
	%p= f.submit "Submit"
