

%h1= h("#{@instrument.name} Booking").titleize

.booking_form
	%h3= @instrument.booking_message
	%br/
	- if @instrument.orbitrap
		= render :partial => 'orbi_form'
	- else
		= render :partial => 'form' 

- unless @instrument.rules.empty?
	%h1.angry= ("Booking Rules").titleize
.rules
	%h3= @instrument.rules
