.inst_form
	- form_for(@instrument) do |f| 
		= f.error_messages 

		.user_form
			.project
				= f.label :name 
				%br/
				= f.text_field :name 
		.user_form
			.project
				= f.label :model 
				%br/
				= f.text_field :model 
		.user_form_description
			.project
				= f.label :description 
				%br/
				= f.text_area :description, :cols => 50, :rows => 3 
		.user_form
			.project
				= f.label :working 
				%br/
				= f.check_box :working
		.user_form
			.project
				= f.label :booking_message
				%br/
				= f.text_field :booking_message
		.user_form_description
			.project
				= f.label :rules
				%br/
				= f.text_area :rules, :cols => 50, :rows => 3
		.user_form
			.project
				=f.check_box :msf_only
				=f.label :msf_only
		.user_form
			.project
				= f.submit 'Submit'
	